@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.parent-container{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
   align-items: center;
    margin:0px;
    flex-direction: column;
}

.payload-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:1280px;
    height: auto;
}
.navigation-menu{
    width: 100%;
   
    display: flex;
    justify-content: flex-end;
}

.main-page-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
   margin-top: 100px;
   margin-bottom: 130px;
   align-self: flex-end;
}
.nav-item {
    padding: 2px;
    height: 11px;
    text-decoration: none;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    border: 2px;
    border-color: white;
    background-color: white;
    border-style: solid;
}



.add-article-button {
    background-color: white;
    box-sizing: border-box;
    padding: 0px;
    height: 60px;
    width: 300px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 50px;
    border-width: 1px;
    border-color: #9b9b9b;
    align-self: flex-end;
    margin-bottom: 90px;
}

.add-article-button:hover, .nav-item:hover {
    padding: 2px;
    transition: 0.75s;
    background-color: #9b9b9b;
    color: greenyellow;
}

.main-title{
    box-sizing: border-box;
    width:780px;
    margin-top: 0px;
    margin-bottom: 30px; 
}
.bullet-text {
    color:#9b9b9b;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat', serif;
}

.author-text {
    color:#1e1e1e;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat', serif;
}
.above-story{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 20px;
    margin-bottom: 40px;
}

.article-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-article {
    box-sizing: border-box;
    height: 720px;
    width: 1000px;
    margin-bottom: 80px;
}
.edit-above-story{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    margin-bottom: 20px;
}

.next-prev{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-bottom:100px;
}



.button-item {
    padding: 2px;
    height: auto;
    width: auto;
    text-decoration: none;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 2px;
    border-color: white;
    background-color: white;
    border-style: solid;
}
.button-item:hover {
    padding: 2px;
    transition: 0.75s;
    background-color: #9b9b9b;
    color: greenyellow;
}




.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.pink {
    background-color: pink;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
.title {
    color: #1e1e1e;
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    line-height: 57px;
}

.subtitle {
    color: #1e1e1e;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    line-height: 42px;
}

.saying {
    color: #1e1e1e;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
}

.payload-text {
    color: #1e1e1e;
    font-size: 16px;
    font-family: 'Cardo', serif;
    line-height: 20px;
    box-sizing: content-box;
    width: 780px;
    margin: 0px 0px 100px 0px;

}

.quote {
    color: #1e1e1e;
    font-size: 28px;
    font-family: 'Montserrat', serif;
    font-style: italic;
    box-sizing: content-box;
    width: 34px;
}





.modal-container {
    box-sizing: border-box;
    padding: 0px 75px 0px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: 1000px;
    background-color: dodgerblue;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
}


.title-div {
    text-align: center;
     width: 100%;
     height: auto;
     margin: 50px 0px 50px 0px;
    
}
.final-four{
   width: 100%;
   height: auto;
   display: grid;
   column-gap: 50px;
   row-gap: 25px;
   grid-template-columns: auto auto;
   margin-bottom: 25px;
  
}

.normal-input {
    height: 35px;
    width: 400px;
    box-sizing: border-box;
    margin: 0px;
    border-radius: 5px;
    border-width: 1px;
    border-color:  #9b9b9b;
    padding-left: 10px;
    
}


.url-input {
    height: 35px;
    width: 850px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 5px;
    border-width: 1px;
    border-color:  #9b9b9b;
    padding-left: 10px;
    align-self: flex-start;
   
}

.contnet-input{
    box-sizing: border-box;
    width: 850px;
    height: 200px;
    padding-left: 10px;
   
    align-self: flex-start;
}